PORT=3000
APP_BASE_URL=http://argosrj.onrender.com
DISCORD_CLIENT_ID=COLOQUE_SEU_CLIENT_ID
DISCORD_CLIENT_SECRET=COLOQUE_SEU_CLIENT_SECRET
DISCORD_REDIRECT_URI=http://argosrj.onrender.com/auth/discord/callback
MP_ACCESS_TOKEN=COLOQUE_SEU_ACCESS_TOKEN
MP_PUBLIC_KEY=COLOQUE_SUA_PUBLIC_KEY
STATUS_API_URL=
SESSION_SECRET=troque-por-uma-string-grande
